<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Complete Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <script type="module" src="{{ url_for('static', filename='js/complete-profile.js') }}"></script>

</head>
<body>
  <div class="wrapper">
    <form id="profile-form">
      <h1>Complete Your Profile</h1>

      <div class="input-box">
        <input type="text" placeholder="Full Name" id="name" required />
      </div>

      <div class="input-box">
        <input type="number" placeholder="Age" id="age" required />
      </div>

      <div class="input-box">
        <input type="text" placeholder="Emergency Contact Number" id="emergencyContact" required />
      </div>

      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</body>
</html>
