<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SENSOR HISTORY LOG | Fire Alarm System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
</head>
<body>
  <header>
    <nav>
      <ul class="nav">
        <li><a href="/camera"  class="active">CCTV CAMERA</a></li>
        <li><a href="/sensor_log_history">SENSOR HISTORY LOG</a></li>
        <li><a href="/dashboard" class="active">Dashboard</a></li>
      <li><a href="/profile" >PROFILE</a></li>
    </ul>
   </nav>
  </header>

  <main class="content">
    <h1>Automated Fire Alarm System</h1>
    <p class="subtitle">Real-time data refreshed latest at: <span id="timestamp">Loading...</span></p>

    <div class="card-wrapper">
      <div class="card">
        <h3>TEMPERATURE RECORD</h3>
        <p id="temp-value">-- °C</p>
      </div>
      <div class="card">
        <h3>HUMIDITY RECORD</h3>
        <p id="humidity-value">-- %</p>
      </div>
    </div>
  </main>

  <script>
    function fetchData() {
      fetch('/data')
        .then(response => response.json())
        .then(data => {
          document.getElementById('temp-value').textContent = data.temperature + ' °C';
          document.getElementById('humidity-value').textContent = data.humidity + ' %';
          document.getElementById('smoke-value').textContent = data.smoke + ' %';
          document.getElementById('timestamp').textContent = new Date().toLocaleString();
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });
    }

    fetchData();
    setInterval(fetchData, 3000); 
  </script>
</body>
</html>


