* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: black;
  min-height: 100vh;
}

/* Header Navigation */
header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

.nav a.active {
  font-weight: bold;
}

.profile::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #9dbcdb;
  border-radius: 50%;
  margin-right: 5px;
}

/* Main Content */
.content {
  text-align: center;
  margin-top: 50px;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
}

/* Cards */
.card-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background: linear-gradient(145deg, rgba(61, 102, 167, 0.35), rgba(255, 200, 120, 0.2));
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 25px 20px;
  width: 250px;
  height: 200px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.card p {
  font-size: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}